cffi==2.0.0
cryptography==48.0.0
ifaddr==0.2.0
packaging==26.2
pillow==12.2.0
plyer==2.1.0
psutil==7.2.2
pycparser==3.0
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pywin32==311
pywin32-ctypes==0.2.3
pyobjus==1.2.4
pystray==0.19.5
setuptools==82.0.1
six==1.17.0
zeroconf==0.149.3